* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    
}

/* KHUNG CHECKOUT */
form {
    width: 420px;
    margin: 60px auto;
    background: #fff;
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

/* LABEL */
label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}

/* INPUT + TEXTAREA */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #ff6a00;
    box-shadow: 0 0 0 2px rgba(255,106,0,0.2);
}

/* TEXTAREA */
textarea {
    resize: none;
    height: 90px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #ff6a00, #ff8c1a);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(135deg, #ff8c1a, #ff6a00);
    transform: translateY(-2px);
}

/* MOBILE */
@media (max-width: 500px) {
    form {
        width: 90%;
        padding: 25px;
    }
}
header {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover {
    color: orange;
}
.menu-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
h2 {
    margin: 40px 0 20px 0;
    text-align: center;
}
input.error {
    border: 2px solid red;
}

input.success {
    border: 2px solid green;
}
p{
      width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #ff6a00, #ff8c1a);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 30px;
    text-align: center;
    
}
p:hover {
    background: linear-gradient(135deg, #ff8c1a, #ff6a00);
    transform: translateY(-2px);
}
