body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
}

/* HEADER */
header {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover {
    color: orange;
}
h2 {
    margin: 40px 0 20px 0;
    text-align: center;
}
.menu-right{
    display: flex;
    align-items: center;
    gap: 20px;
}


/* DETAIL */
.detail-container {
    width: 85%;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.detail-img img {
    width: 100%;
    border-radius: 12px;
}

.detail-info h1 {
    margin-bottom: 10px;
}

.category {
    color: #777;
    margin-bottom: 10px;
}

.price {
    color: red;
    font-size: 26px;
    font-weight: bold;
    margin: 15px 0;
}

.desc {
    margin: 20px 0;
    line-height: 1.6;
}

.detail-info input[type="number"] {
    width: 80px;
    padding: 8px;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background: orange;
}
