/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
}

/* HEADER */
header {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover {
    color: orange;
}
h2 {
    margin: 40px 0 20px 0;
    text-align: center;
}
.menu-right{
    display: flex;
    align-items: center;
    gap: 20px;
}


/* GIỎ HÀNG */
.cart-container {
    max-width: 1200px;
    margin: 40px auto;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
}

.cart-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

/* TABLE */
.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th {
    background: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.cart-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* ẢNH */
.cart-table img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
}

/* GIÁ */
.cart-table td:nth-child(3),
.cart-table td:nth-child(5) {
    font-weight: bold;
}

/* SỐ LƯỢNG */
.qty-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.qty-box a {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
}

.qty-box span {
    font-size: 16px;
    font-weight: bold;
}

/* XÓA */
.btn-remove {
    color: #ff4d4f;
    font-size: 22px;
    text-decoration: none;
}

.btn-remove:hover {
    color: #d9363e;
}

/* FOOTER */
.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

.total {
    font-size: 22px;
    font-weight: bold;
}

.total span {
    color: red;
}

/* BUTTON */
.cart-action a,
.btn-checkout {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.btn-back {
    background: #ddd;
    color: #000;
}

.btn-back:hover {
    background: #bbb;
}

.btn-checkout {
    background: #000;
    color: #fff;
}

.btn-checkout:hover {
    background: #ff4d4f;
}
