body {
            font-family: Arial, sans-serif;
            background: #f4f6f8;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: #fff;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background: #222;
            color: white;
        }

        tr:hover {
            background: #f1f1f1;
        }

        .btn {
            padding: 5px 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .view { background: #3498db; color: white; }
        .edit { background: #f39c12; color: white; }
        .delete { background: #e74c3c; color: white; }

        select {
            padding: 5px;
        }
        header {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover {
    color: orange;
}
.menu-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.avatar-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;

}
.user-area{
    position: relative;
    cursor: pointer;
}
.user-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 170px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    position: absolute;
    top: 40px;
    right: 0;
    display: block;
    overflow: hidden;
    display: none;
}

.user-menu li a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: black;
}

.user-menu li a:hover {
    background: #f1f1f1;
}
.user-menu.show-menu {
    display: block !important;
}
