* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f5f5;
}

/* HEADER */
header {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover {
    color: orange;
}

/* SLIDER */
.slider {
    margin-top: 20px;
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: 0.6s;
}

.slides img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* PRODUCT */
h2 {
    margin: 40px 0 20px 0;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.product img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.price {
    color: red;
    font-weight: bold;
}

.btn {
    padding: 8px 15px;
    background: black;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: orange;
}

/* FOOTER */
footer {
    margin-top: 40px;
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
.menu-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.avatar-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;

}
.user-area{
    position: relative;
    cursor: pointer;
}
.user-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 170px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    position: absolute;
    top: 40px;
    right: 0;
    display: block;
    overflow: hidden;
    display: none;
}

.user-menu li a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: black;
}

.user-menu li a:hover {
    background: #f1f1f1;
}
.user-menu.show-menu {
    display: block !important;
}